#board,
.board {
  height: 1000px;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
}

#ships {
  height: 1000px;
  width: 700px;
  background-color: rgb(184, 223, 230);
  display: grid;
  gap: 40px;
  padding: 40px;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: 100px;
  justify-content: space-evenly;
  align-content: center;
  overflow: scroll;
}

.ship {
  background-color: gray;
  cursor: pointer;
}

.ship.ship-4 {
  grid-row: span 4 / auto;
  max-height: 400px;
}

.ship.ship-4.lay {
  grid-row: auto;
  grid-column: span 4 / auto;
  max-width: 400px;
}

.ship.ship-3 {
  grid-row: span 3 / auto;
  max-height: 300px;
}

.ship.ship-3.lay {
  grid-row: auto;
  grid-column: span 3 / auto;
  max-width: 300px;
}

.ship.ship-2 {
  grid-row: span 2 / auto;
  max-height: 200px;
}

.ship.ship-2.lay {
  grid-row: auto;
  grid-column: span 2 / auto;
  max-width: 200px;
}

.ship.ship-1 {
  grid-row: span 1 / auto;
}

.ship.ship-1.lay {
  grid-row: auto;
  grid-column: span 1 / auto;
}

#game-container {
  display: flex;
  gap: 50px;
}

.cell {
  width: 10%;
  height: 10%;
  background-color: rgb(105, 105, 246);
  /* position: absolute; */
}

.highlight {
  background-color: rgb(104, 53, 246);
}

.invalid-placement {
  background-color: rgb(246, 53, 53);
}

.cell.cell-segment {
  background-color: gray;
}

.cell.cell-segment.cell-dead {
  background-color: rgb(221, 152, 152);
}

.cell.cell-dead {
  background-color: rgb(246, 105, 194);
}

/* .cell.dead::after {
  content: "x";
  color: red;
  position: relative;
  left: 50%;
  top: 50%;
  font-size: 2rem;
} */
